@model dynamic

@{
    ViewBag.Title = "Sign Up";
    Layout = "_HomeLayout";
}

<!DOCTYPE html>

<html>
<head>
    <title>Sign Up</title>
</head>
<body>
<div>
    <h1>Sign Up here :)</h1>
</div>
</body>
</html>